.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-left,
.header-center,
.header-right {
  flex: 1;
}

.header-center {
  text-align: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

.logoRacing {
  height: 10vh;
}

body {
  background-color: #131748;
  color: #8bc4e5;
  font-family: "Antonio";
}

.akd {
  width: 50%;
  height: auto;
}

.btn-custom {
  background-color: #ffffff;
  color: #131748;
  border-color: #131748;
}

.btn-custom:hover {
  background-color: #131748;
  color: #ffffff;
  border-color: #ffffff;
}
